{% extends 'base.html' %}

{% block content %}

<style>
    #myDropzone {
        cursor: pointer;
        border: 0.1em dashed rgba(0, 0, 0, 0.5);
    }

    .dz-message {
        padding: 40px;
    }

    .dropzone .dz-preview .dz-image {

    }

    .dz-progress {
        /* progress bar covers file name */
        display: none !important;
    }

    @media (min-width: 768px) {
        #rude {
            width: 70%;
        }
    }

    @media (min-width: 1920px) {
        #rude {
            width: 70%;
        }
    }

</style>

<script>
    Dropzone.options.myDropzone = {
        // Prevents Dropzone from uploading dropped files immediately
        autoProcessQueue: false,
        acceptedFiles: ".png, .jpg",
        parallelUploads: 1,
        addRemoveLinks: true,
        maxFilesize: 1, // MB
        url: "{% url 'data:upload' %}",
        init: function () {
            let submitButton = document.querySelector("#submit-all")
            myDropzone = this; // closure

            submitButton.addEventListener("click", function () {
                myDropzone.processQueue();
                // autoProcessQueue: true// Tell Dropzone to process all queued files.
            });

            // You might want to show the submit button only when
            // files are dropped here:
            this.on("addedfile", function () {
                submitButton.classList.remove("disabled");
            });

            this.on("complete", function (file) {
                if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                    window.location.replace(file.xhr.response)
                }
            });

            this.on("sending", function (file, xhr, data) {
                document.querySelector("#loading").hidden = false;
                let min = document.querySelector("#minval");
                let max = document.querySelector("#maxval");
                data.append("max", max.value);
                data.append("min", min.value);
            });

        }
    };
</script>


<div class="jumbotron" style="margin-bottom: 0px; padding-bottom: 0px; background-color: white !important;">
    <div class="container-fluid" id="rude">
        <h4 style="font-weight: 500;">Data Extraction</h4>
        <hr>
        <ul>
            <li style="font-size: 100%; text-align: justify" class="mt-1"> In the data extraction step,
                <span style="font-variant: small-caps; font-weight: 600">UnchartIt</span> automatically extracts data from a chart.
            </li>
            <li style="font-size: 100%; text-align: justify" class="mt-1">
                Currently, <span style="font-variant: small-caps; font-weight: 600">UnchartIt</span> can only interpret bar charts.
                The user needs to provide the <b>min</b> & <b>max</b> values of the vertical axis.
            </li>
            <li style="font-size: 100%; text-align: justify" class="mt-1">
                Download some <a href="">bar chart examples here</a>.
            </li>
        </ul>
    </div>
</div>


<div class="container">
    <div style="padding-bottom: 50px" class="row">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Vertical Axis</label>
                    <input class="form-control" type="text" value="Values" readonly>
                    </select>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-4">
                    <label>Min Value</label>
                    <input value="0" id="minval" class="form-control" type="number">
                </div>
                <div class="form-group  col-md-4">
                    <label>Max Value</label>
                    <input value="128" id="maxval" class="form-control" type="number">
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">

            <div class="form-group">
                <div id='myDropzone' name='dropzone' class='dropzone'>
                    <div class="dz-message" data-dz-message><span>Drop the chart here.</span></div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" style="float: right;" id="submit-all" class="btn btn-primary disabled">
                    Submit
                    <span id="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                          hidden></span>
                </button>
            </div>


        </div>
        <div class="col-md-3"></div>
    </div>
</div>


{% endblock %}
