{% extends 'base.html' %}

{% block content %}
<section style="background-color: white" class="jumbotron text-center">
    <div class="container">
        <h4 class="jumbotron-heading">Table extracted from the chart:</h4>
        <br>
        <div class="justify-content-center" style="width: 75%; margin: auto; display: flex;">
            <table style="align-self: center; text-align: center;"
                   class="table table-striped table-hover table-bordered table-responsive table-fit">
                <thead class="thead-dark">
                <tr>
                    {% for k in header %}
                    <th>{{k}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for r in rows %}
                <tr>
                    {% for c in r %}
                    <td>{{c}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

